@{
    ViewData["Title"] = "editing more like transitioning :transgenderflag:";
}
<div class="text center">
    <h1 class="display-4"> what are we gonna change, bud </h1>
</div>

<form>
    <div class="mb-3">
        <label for="nome" class="form-label">put the name of the skrunkly</label>
        <input type="text" class="form-control" placeholder="mrawmramwmrawmrawrawr">
        <div id="emailHelp" class="form-text">fun fact this used to be a warning about emails not being used and stuff :3.</div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">oh woahgs it's more silly stuff!</label>
        <input type="text" class="form-control" placeholder="mrrrrpmrmprrmmmmrrrrrppppr">
    </div>
    <div class="mb-3">
        <label for="celular" class="form-label">sans undertale is so cool :3</label>
        <input type="text" class="form-control" placeholder="moewomewmoemoewmowemoewmoewomewmoewmoe">
    </div>

    <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index" role="button">changed ur mind?</a>
    <button type="submit" class="btn btn-primary">silly has been modified :3</button>
</form>