@{
    ViewData["Title"] = ":egg:";
}

<div class="text-center">
    <h1 class="display-4">howdyyyyy!!!!</h1>
    <p>ok so this is the SECOND site i'm making since te first one went to shit whoopsies'</p>
</div>