@import "tailwindcss";
@plugin "daisyui";

html {
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem rgb(255, 171, 171), 0 0 0 0.25rem #ffa0a0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(255, 148, 148); 
}

.field-validation-error {
    color: #b00b69;
}

header {
  background-color: rgb(227, 139, 235);
}

.close-alert {
  position: absolute;
  right: -10px;
  top: -15px;
  border-radius: 15px;
  width: 128px;
  height: 31px;
}