@model UsuarioModel
@{
    ViewData["Title"] = "wuh oh.";
}

<div class="text-center">
    <h3>hey hey buddy, necromancy is hard. only kill them if you're SURE.</h3>
    </div>
<div class="text-center">
    are you sure you want to delete (@Model.Name)?
    </div>
<div class="text-center">
    <a class="btn btn-primary" role="button" asp-controller="Usuario" asp-action="Index">spare!!!!!</a>
    <a class="btn btn-danger" role="button" asp-controller="Usuario" asp-route-id="@Model.Id" asp-action="Apagar">KILL!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</a>
    </div>
