@model UsuarioModel
@{
    ViewData["Title"] = "editing more like transitioning 🏳️‍⚧️";
}

<div class="text center">
    <h1 class="display-4"> PENIS!!!!!!!!!!!!!!!!!!!!!! </h1>
</div>

<form asp-controller="Usuario" asp-action="Alterar" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label for="nome" class="form-label">make the name be penis!</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="mrawmramwmrawmrawrawr">
        <div id="emailHelp" class="form-text">fun fact this used to be a warning about emails not being used and stuff :3.</div>
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">make the NOT email penis!!!</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="mrrrrpmrmprrmmmmrrrrrppppr">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="mb-3">
        <label for="login" class="form-label">turn the boobs into penis!!!!</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="moewomewmoemoewmowemoewmoewomewmoewmoe">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
        <div class="mb-3">
        <label for="senha" class="form-label">don't make the password penis they'd guess it too easily. make it be balls.</label>
        <input type="text" asp-for="Senha" class="form-control" placeholder="moewomewmoemoewmowemoewmoewomewmoewmoe">
        @Html.ValidationMessageFor(x => x.Senha)
    </div>
    

    <a class="btn btn-secondary" asp-controller="Usuario" asp-action="Index" role="button">changed ur mind?</a>
    <button type="submit" class="btn btn-primary">silly has been modified :3</button>
</form>
<!-- the error isn't in anything, it's HERE.
for some bizzare reason, apagar confirmacao works FINE
so it has to be in here. shrimp
i am going to see if this dumbass wacky idea works
if it does, then. it technically means i got ahead of the class.
fuck you! i'm marching to the beat of my own drums!
okay, so.
